.Card {
  background-color: rgb(74, 160, 200);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px auto;
  border-radius: 20px;
  transform: translateZ(0);
  transition: transform 0.2s ease-out;
  backface-visibility: hidden;
  border: 1px solid grey;
  cursor: pointer;
}

.Card:hover {
  transform: scale(1.05);
}
