.sign-in-up {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 30px auto;
  flex-direction: row;
  @media screen and (max-width: 800px) {
    flex-direction: column;
    margin: 30px 15px;
  }
}
